main.dashboard {
    width: 100%;
    height: 100vh;

    display: flex;

    background-color: black;

    overflow: hidden;

    aside.sidebar {
        width: clamp(280px, 20%, 300px);
        box-shadow: -20px 1px 15px -23px black inset;

        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 5vh;

        background-color: white;

        padding: 3vh 0;
        padding-top: 6vh;

        transition: width 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        .user {
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3vh;

            .user-avatar {
                width: 120px;
                aspect-ratio: 1.2/1;

                object-fit: cover;

                clip-path: polygon(
                    25% 0%,
                    75% 0%,
                    100% 50%,
                    75% 100%,
                    25% 100%,
                    0% 50%
                );
            }
        }
    }

    aside.wrapper {
        flex: 1 0;
        height: 100%;

        display: flex;
        flex-direction: column;

        position: relative;
        isolation: isolate;

        overflow-y: auto;
        overflow-x: hidden;

        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (max-width: 768px) {
            background-size: cover;
            background-position: bottom center;
        }

        @media screen and (min-width: 1440px) {
            background-size: 103% 103%;
        }
    }
}
