section.project-container {
    width: 100%;
    height: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 4.5vh 3vw;

    position: relative;
    isolation: isolate;

    .project-wrapper {
        $projectTransform: -1500px;
        $projectHeight: 90%;

        position: relative;

        width: 90%;

        transform: translateX($projectTransform);
        height: 15px;

        background-color: white;
        backdrop-filter: blur(3px);

        position: relative;
        isolation: isolate;
        overflow: hidden;

        animation: project-anim 1.5s cubic-bezier(0.45, 0.02, 0.09, 0.98)
            forwards;

        @keyframes project-anim {
            0% {
                transform: translateX($projectTransform);
                height: 15px;
                background-color: white;
            }
            25% {
                transform: translateX(0);
                height: 15px;
                background-color: white;
            }
            40% {
                transform: translateX(0);
                height: 15px;
                background-color: white;
            }
            50% {
                transform: translateX(0);
                height: 15px;
                background-color: white;
            }
            100% {
                transform: translateX(0);
                height: $projectHeight;
                background-color: transparent;
            }
        }

        .project-bg-svg {
            width: 100%;
            height: 100%;

            position: absolute;
            z-index: -1;

            path {
                opacity: 1;
                fill: #000000;
                fill-opacity: 0;
                stroke: white;
                stroke-width: 1;
                stroke-dasharray: none;
                stroke-opacity: 1;
                paint-order: markers fill stroke;
            }
        }

        article.project-data {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4vh;

            padding: 5vh 3vw;

            header {
                height: 2em;
            }

            .project-details {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                flex: 1 0 0;
                height: clamp(0px, 100%, 480px);

                .details {
                    width: clamp(0px, 50%, 500px);

                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2vh;

                    font-family: 'graduate';
                    text-transform: uppercase;

                    margin-top: 4vh;

                    .detail-row {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
                .project-records {
                    flex: 1 0 0;
                    height: 100%;

                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: calc(2vw + 5px);

                    .main-img {
                        width: 50%;
                        aspect-ratio: 1/1;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;
                        isolation: isolate;
                        overflow: hidden;

                        &::before,
                        &::after {
                            content: '';

                            position: absolute;

                            width: 150%;
                            height: 150%;

                            background-color: black;

                            transform-origin: center center;
                            rotate: 45deg;

                            z-index: 1;
                        }

                        &::after {
                            transform: translateX(200%);

                            top: 26%;
                            right: 30%;

                            border-top: 2px solid white;

                            animation: img-block-after 2s 3s
                                cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                            @keyframes img-block-after {
                                0% {
                                    transform: translateX(200%);
                                }
                                50% {
                                    transform: translateX(0%);
                                }
                                60% {
                                    transform: translateX(0%);
                                }
                                100% {
                                    transform: translateX(0%) translateY(43%);
                                }
                            }
                        }
                        &::before {
                            transform: translateX(-200%);

                            bottom: 26%;
                            left: 29%;

                            border-bottom: 2px solid white;

                            animation: img-block-before 2s 3s
                                cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                            @keyframes img-block-before {
                                0% {
                                    transform: translateX(-200%);
                                }
                                50% {
                                    transform: translateX(0%);
                                }
                                60% {
                                    transform: translateX(0%);
                                }
                                100% {
                                    transform: translateX(0%) translateY(-43%);
                                }
                            }
                        }

                        img {
                            object-fit: cover;

                            width: 0%;
                            max-height: 0%;

                            animation: project-main-img 0.1s 4s forwards;

                            @keyframes project-main-img {
                                from {
                                    width: 0%;
                                    max-height: 0%;
                                }
                                to {
                                    height: 100%;
                                    width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }
                    }
                    .other-imgs {
                        height: 100%;

                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: calc(2vh + 5px);

                        overflow-y: auto;
                        overflow-x: hidden;
                        padding: 0.5rem 1rem;

                        &::-webkit-scrollbar {
                            width: 7px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: var(--sixty-percent);
                            border: 0px solid white;
                            border-radius: 20px;
                        }

                        .other-img {
                            width: 90px;
                            aspect-ratio: 1.1/1;

                            position: relative;

                            rotate: 0deg;
                            left: -200%;

                            flex-shrink: 0;

                            clip-path: polygon(
                                25% 0%,
                                75% 0%,
                                100% 50%,
                                75% 100%,
                                25% 100%,
                                0% 50%
                            );

                            cursor: pointer;

                            overflow: hidden;

                            transform-origin: center center;
                            animation: rotateHexagon 1s forwards
                                cubic-bezier(0.175, 0.885, 0.32, 1.275);

                            @keyframes rotateHexagon {
                                from {
                                    rotate: 0deg;
                                    left: -200%;
                                }

                                to {
                                    rotate: 360deg;
                                    left: 0%;
                                }
                            }

                            img {
                                max-height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
            .project-actions {
                width: 100%;
                margin-top: auto;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .edit-project {
                    margin-top: auto;

                    transform: scaleX(-1);

                    width: 0%;
                    height: 2em;

                    background-color: var(--ten-percent);

                    clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);

                    white-space: nowrap;
                    overflow: hidden;

                    animation: width-delete-project
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) 0.5s 3.5s forwards;

                    @keyframes width-delete-project {
                        from {
                            width: 0%;
                        }
                        to {
                            width: 50%;
                        }
                    }

                    svg {
                        width: 1em;
                        height: 1em;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.3em;

                        transform: scaleX(-1);
                    }
                }
                .delete-project {
                    margin-top: auto;

                    width: 0%;
                    height: 2em;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.3em;

                    background-color: var(--alert-error);

                    clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);

                    white-space: nowrap;
                    overflow: hidden;

                    animation: width-delete-project
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) 0.5s 3.5s forwards;

                    svg {
                        width: 1em;
                        height: 1em;
                    }

                    @keyframes width-delete-project {
                        from {
                            width: 0%;
                        }
                        to {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .project-loading {
        width: 100%;
        height: 100%;

        backdrop-filter: blur(1px);

        font-family: 'graduate';

        display: flex;
        align-items: center;
        justify-content: center;
        .words-wrapper {
            margin: auto;

            position: absolute;
            inset: 0;

            height: 2em;
            width: 150px;

            white-space: nowrap;

            span {
                display: inline-block;
                transform: translateX(100%) scale(0.8);

                margin-right: 5px;

                transition: all 500ms;

                &.active {
                    margin-right: 1px;
                    transform: translateX(0) scale(1);
                }
            }
        }
    }
}
