.editor-fnd .editor .block-heading {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    button {
        font-family: monospace;
    }

    input {
        font-family: inherit;
        width: 100%;
    }
}
