@font-face {
    font-family: 'Arvand';
    src: url('./Arvand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Jakarta';
    src: url('./PlusJakartaSans[wght].ttf') format('truetype');
}

@font-face {
    font-family: 'Zan';
    src: url('./Zan.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src: url('./TitilliumWeb-Regular.ttf') format('truetype');
}
