@font-face {
    font-family: 'Arvand';
    src: url('./fonts/Arvand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Jakarta';
    src: url('./fonts/PlusJakartaSans[wght].ttf') format('truetype');
}

@font-face {
    font-family: 'Zan';
    src: url('./fonts/Zan.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src: url('./fonts/TitilliumWeb-Regular.ttf') format('truetype');
}
