.project-fnd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    .project-info {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        direction: rtl;
        width: 100%;
        background-color: var(--cd);
        padding: 1rem;
        border-radius: var(--radius);
        gap: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 2px solid var(--ca);

        .name {
            display: flex;
            width: 100%;
            gap: 1rem;

            span,
            input {
                width: 100%;
            }
        }

        .n {
            direction: ltr;
            font-family: var(--en);
        }
    }

    .blogs {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;

        .actions {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .add-btn {
                --color: var(--green);
            }
        }

        .blog-list {
            display: flex;
            overflow: hidden;
            overflow-x: auto;
            padding-bottom: 1rem;
            gap: 1rem;
            justify-content: flex-start;
            align-items: center;

            .blog {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                border: 2px solid var(--cl);
                background-color: var(--cd);
                cursor: pointer;
                flex-shrink: 0;
                border-radius: var(--radius);

                &:hover {
                    border-color: var(--ca);
                }

                .thumbnail {
                    height: 200px;
                    aspect-ratio: 16/9;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .blog-info {
                    display: grid;
                    direction: rtl;
                    grid-template-columns: 0.5fr 1fr;
                    padding: 1rem;
                    gap: 0.5rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    transition: border-color 200ms ease-in-out;

                    .n {
                        direction: ltr;
                        font-family: var(--en);
                    }
                }
            }
        }
    }
}
