.projects-fnd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .actions {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }

    .message {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 3rem;
    }

    .project-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;

        .project {
            cursor: pointer;
            width: clamp(250px, calc(25% - 3rem), 300px);
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            direction: rtl;
            gap: 0.5rem;
            padding: 0.5rem;
            border: 2px solid var(--cd);
            border-radius: var(--radius);
            transition: border-color 200ms ease-in-out;
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;

            .n {
                font-family: var(--en);
                direction: ltr;
            }

            &:hover {
                border-color: var(--ca);
            }
        }
    }
}
