.sidebar-fnd {
    width: var(--sidebar-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cg);
    border-left: 2px solid var(--ca);
    padding: 1rem;
}
