.sidebar-fnd {
    width: clamp(280px, 20%, 300px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5vh;

    background-color: var(--thirty-percent);
    color: var(--accent-color);
    box-shadow: 0px 0px 30px -15px black;

    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;

    padding: 3vh 0;
    padding-top: 80px;

    position: relative;
    isolation: isolate;

    @media screen and (max-width: 1024px) {
        width: 250px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4vh;

        width: 100%;

        padding-bottom: 40px;

        position: relative;
        isolation: isolate;

        &::after {
            content: '';
            width: 90%;
            height: 1px;

            position: absolute;
            bottom: 0;

            background-image: linear-gradient(
                45deg,
                transparent,
                var(--accent-color),
                transparent
            );
        }

        .img {
            width: 100px;
            aspect-ratio: 1/1;

            border-radius: 100vmax;

            display: flex;
            align-items: center;
            justify-content: center;

            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            svg {
                width: 70%;
                height: 70%;
            }
        }
        .name {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            padding: 0 10px;

            overflow: hidden;

            input,
            span {
                width: 100%;
                text-align: center;
            }
        }
    }

    .links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 1em 0;

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            padding: 1em;

            color: var(--accent-color);

            cursor: pointer;

            will-change: transform;
            transition: 0.3s cubic-bezier(0.45, 0.02, 0.09, 0.98);

            &:hover {
                > svg {
                    transform: translateX(-0.4em);
                }
            }

            .holder {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            > svg {
                will-change: transform;
                transition: 0.3s ease;
            }
        }
    }
    .logout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--alert-error);
        width: 100%;
        padding: 1em;

        margin-top: auto;

        cursor: pointer;

        .holder {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
        }
    }
}
