.alert-fnd {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: calc(2vh + 10px);

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        pointer-events: all;

        width: clamp(0px, 100%, 300px);

        border-radius: 10px;

        padding: 1rem;

        font-family: sans-serif;

        position: relative;
        background: var(--accent-color);

        clip-path: polygon(
            5% 0,
            95% 0,
            100% 10%,
            100% 90%,
            95% 100%,
            5% 100%,
            0 90%,
            0 10%
        );

        cursor: pointer;

        ::-webkit-scrollbar {
            background: var(--color);
        }

        ::-webkit-scrollbar-thumb {
            border-color: var(--color);
            background: #f2f2f2;
        }

        &.info {
            --color: hwb(215deg 40% 10%);
        }

        &.success {
            --color: hwb(154deg 25% 34%);
        }

        &.error {
            --color: hwb(346deg 1% 41%);
        }

        svg {
            fill: var(--color);
        }

        .head {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            justify-content: space-between;

            width: 100%;

            svg {
                height: 32px;
            }

            span {
                text-transform: capitalize;
                font-size: 18px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button {
                border: 0;
                background: transparent;
                cursor: pointer;
                opacity: 0;
                // position: absolute;
            }
        }

        .body {
            --ts: 400ms;
            max-height: 0px;
            overflow-x: hidden;
            overflow-y: auto;
            transition: var(--ts);

            p {
                padding: 0.5rem 0.3rem;
            }
        }

        .timer {
            display: flex;
            justify-content: flex-end;
            opacity: 0.6;
            position: absolute;
            bottom: 2px;
            right: 2px;
        }

        &:hover {
            .head {
                span {
                    white-space: unset;
                }

                button {
                    opacity: 1;
                }
            }

            .body {
                max-height: 220px;
                transition: max-height var(--ts);

                margin-top: 2vh;
            }

            .timer {
                position: static;
            }
        }
    }
}
