.editor-fnd .config .base-conf {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

    button {
        border: 2px solid #f2f2f2;
        background: transparent;
        height: 40px;
        padding: 0.3rem;
        aspect-ratio: 1;
        border-radius: 5px;

        &:hover {
            background: #222;
        }

        &:disabled {
            background: transparent;
            cursor: default;
        }
    }
}
