.editor-fnd .editor .block-heading {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    .heading-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5em;

        .actions-wrapper {
            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 50px;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 0.8rem;
            overflow: hidden;

            @media screen and (max-width: 1200px) {
                height: 70px;
            }

            &.headings {
                direction: rtl;

                .action {
                    height: 100%;
                    font-family: iranSans;

                    &:nth-child(1) {
                        padding-right: 20px;
                    }
                    &:last-child {
                        padding-left: 20px;
                    }

                    &:nth-child(1) {
                        font-family: iranBold;
                    }
                    &:nth-child(2) {
                        font-family: iranBold;
                    }
                    &:nth-child(3) {
                        font-family: yekanBold;
                    }
                }
            }

            .action {
                background-color: transparent;
                padding: 10px 12px;

                height: 100%;

                svg {
                    width: 25px;
                    height: 25px;
                }

                &.active {
                    color: white;
                    background-color: var(--sixty-percent);
                }
            }
        }

        .actions-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            flex-wrap: wrap;

            gap: 3em;
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
        width: 100%;

        *:not(input) {
            margin-block: 1em;
            // text-align: center;
        }
    }

    button {
        font-family: monospace;
    }

    input {
        text-align: center;
        width: 100%;
    }
}
