.editor-fnd {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 5vh 3vw;

    .go-back {
        margin-bottom: 1em;

        display: flex;
        align-items: center;
        justify-content: center;

        .go-back-btn {
            margin-right: auto;

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--thirty-percent);

            border: 2px solid var(--accent-color);
            border-radius: 100vmax;

            cursor: pointer;

            transition: 220ms ease-in-out;
            transition-property: border-color, background-color, color;

            svg {
                margin: 8px;
            }
        }
    }

    .editor-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        background: var(--primary-color);
        border-radius: 2rem;
        margin: 0 auto;
        // margin-top: 2rem ;

        overflow: hidden;

        .actions {
            flex-wrap: wrap;
            width: 100%;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;

            padding: 2rem;
            padding-bottom: 3rem;

            .ctas {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                div {
                    flex-wrap: wrap;
                    display: flex;
                    gap: 0.5rem;
                }

                .cta {
                    --bg-color: #00c4ff;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;

                    border-radius: 0.5rem;

                    background-color: var(--thirty-percent);
                    padding: 0.5em 2em;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    background-image: linear-gradient(
                        304deg,
                        var(--bg-color),
                        transparent 50%
                    );

                    position: relative;
                    isolation: isolate;

                    &.erase {
                        --bg-color: yellow;
                    }

                    &.reset {
                        --bg-color: var(--alert-error);
                    }
                    &.add {
                        --bg-color: var(--alert-success);
                    }
                    &.see {
                        --bg-color: #5600ff;
                    }

                    .icon {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .editor-text-actions {
                button.active {
                    background-color: var(--color);
                }
            }

            position: relative;
            isolation: isolate;

            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                width: 100%;

                height: 1px;

                background-color: var(--accent-color);
            }
        }

        .editor-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            overflow-y: auto;

            padding: 0 2rem;
            padding-bottom: 2rem;
        }

        .editor {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: max-content;
            gap: 1.5rem;

            .message {
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                padding: 3rem;

                &.border {
                    border-radius: var(--radius);
                    border: 2px solid var(--ca);
                    background-color: var(--thirty-percent);
                }

                &.add-block {
                    border-radius: 1rem;
                    background-color: var(--thirty-percent);

                    .add-cta {
                        padding: 0.7em 2em;
                        border-radius: 0.8rem;
                        background-color: var(--ca);
                    }
                }

                &.not-found {
                    position: absolute;

                    display: grid;
                    place-items: center;
                    backdrop-filter: blur(2px);
                }
            }

            .line {
                width: 100%;
                height: 2px;
                background-color: var(--ca);
                flex-shrink: 0;
            }

            .block-break {
                width: 100%;
                text-align: center;
                padding: 0 1rem;
            }

            .block {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                align-items: center;

                min-height: 200px;

                .block-actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1em;

                    padding-left: 1em;

                    .block-action {
                        border-radius: 100vmax;
                        padding: 10px;

                        &:not(.delete) {
                            border: 2px solid var(--ca);
                        }

                        &.delete {
                            background-color: color-mix(
                                in srgb,
                                var(--alert-error) 80%,
                                white
                            );
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }

                        svg {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                .content {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;

                    border: 2px solid var(--ca);
                    border-radius: 0.8rem;
                    background-color: var(--thirty-percent);
                }
            }
        }
    }
}
