.editor-fnd .editor .block-text {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    position: relative;
    isolation: isolate;

    .text-actions {
        width: 100%;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .actions-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 0.8rem;
            overflow: hidden;

            transition: opacity 0.3s;

            &.no-overflow {
                overflow: visible;
            }

            &.disable {
                opacity: 0.7;
                pointer-events: none;
            }

            .action {
                background-color: transparent;
                padding: 10px 12px;

                svg {
                    width: 25px;
                    height: 25px;
                }

                &.active {
                    color: white;
                    background-color: var(--sixty-percent);
                }

                &.flex {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5em;
                }
            }
        }
        .actions-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 3em;
        }
    }
    .text-section {
        width: 100%;
    }

    .placeholder {
        direction: rtl;
        opacity: 0.6;
        user-select: none;
        pointer-events: none;
        position: absolute;

        width: 100%;
        text-align: center;
    }

    .text-content {
        outline: 0;

        font-size: 18px;
        width: 100%;
        display: inline-block;
        word-break: break-word;

        span {
            --c0: var(--red);
            --c1: var(--green);
            --c2: var(--blue);

            line-height: 1.8em;
            font-family: 'iranSans';

            &:hover {
                outline: 2px solid #fff3;
            }

            &.code {
                padding: 0.2em;
                border-radius: 10px;
                font-family: monospace;
                background-color: var(--cg);
            }
            &.mark {
                background-color: mark;
                color: marktext;
            }

            &.active {
                outline: 2px solid #0ff3;
            }

            &.bold {
                font-weight: bold;
            }
            &.italic {
                font-style: italic;
            }
            &.underline {
                text-decoration: underline;
                text-underline-offset: 0.4em;
            }
        }

        &.show_groups span {
            outline: 2px solid var(--bc);
        }
    }
}
