.editor-fnd .editor .block-text {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    position: relative;
    isolation: isolate;

    .text-actions {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }
    .text-section {
        width: 100%;
    }

    .placeholder {
        direction: rtl;
        opacity: 0.6;
        user-select: none;
        pointer-events: none;
        position: absolute;
    }

    .text-content {
        outline: 0;

        font-size: 18px;
        width: 100%;
        display: inline-block;
        word-break: break-word;

        span {
            --c0: var(--red);
            --c1: var(--green);
            --c2: var(--blue);

            line-height: 1.8em;

            &:hover {
                outline: 2px solid #fff3;
            }

            &.code {
                width: 100%;
                display: block;
                padding: 1em;
                border-radius: 10px;
                font-family: monospace;
                background-color: var(--cg);
            }

            &.active {
                outline: 2px solid #0ff3;
            }

            &.bold {
                font-weight: bold;
            }
            &.italic {
                font-style: italic;
            }
            &.underline {
                text-decoration: underline;
                text-underline-offset: 0.4em;
            }
        }

        &.show_groups span {
            outline: 2px solid var(--bc);
        }
    }
}
