.records-fnd {
    display: flex;
    flex-direction: column;
    width: 100%;

    direction: rtl;

    .actions {
        display: flex;
        width: 100%;
        gap: 1rem;
        padding: 0.5rem;

        div {
            display: flex;
            gap: 0.5rem;

            margin-right: auto;
            .go-back {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--thirty-percent);
                color: var(--accent-color);
                border: 2px solid var(--ten-percent);
                border-radius: 100vmax;
                cursor: pointer;
                transition: 0.3s;

                svg {
                    margin: 10px;
                }
            }
        }
    }

    .record-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        padding-top: 0;
        width: 100%;

        .new-record {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--ten-percent);
            border: 1px solid var(--accent-color);
            border: 2px;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 2em;
            padding: 0.5rem 2rem;
        }

        .records-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 3rem;
            column-gap: 2rem;
            padding: 3rem 0;
            justify-content: space-evenly;

            .record {
                width: clamp(0px, 100%, 400px);
                display: flex;
                align-items: center;
                flex-direction: column;
                border-radius: 1rem;
                background-color: var(--thirty-percent);
                color: var(--accent-color);
                padding: 1rem 0.9rem;
                border-radius: 12px;
                cursor: pointer;
                transition: 0.2s ease;

                position: relative;
                isolation: isolate;

                .delete-rec {
                    position: absolute;
                    width: 100%;

                    display: flex;
                    align-items: center;

                    button {
                        margin-left: auto;
                        margin-right: 1em;
                    }
                }

                .dpy {
                    width: 100%;
                    aspect-ratio: 2/1;
                    overflow: hidden;
                    display: grid;
                    place-items: center;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: inherit;
                        object-fit: contain;
                    }

                    svg {
                        height: 40%;
                        width: 40%;
                    }

                    .dpy-svg {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: inherit;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    textarea {
                        width: 100%;
                        height: 100%;
                        resize: none;
                        border: 0;
                    }

                    video {
                        width: 100%;
                        height: 100%;
                    }
                }

                .line {
                    width: 100%;
                    height: 2px;
                    background-color: var(--ca);
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1em;
                    width: 100%;
                    direction: rtl;
                    padding: 1rem;
                    gap: 0.5rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .row {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .n {
                        direction: ltr;
                    }
                }

                .usages {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    margin-top: 1em;

                    .usages-wrapper {
                        margin-block: 1rem;

                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 1rem;

                        .usage {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 5px;

                            border-radius: 2rem;

                            min-width: 90px;
                            background-color: var(--ca);

                            transition: 0.3s
                                cubic-bezier(0.45, 0.02, 0.09, 0.98);

                            &:hover {
                                background-color: var(--alert-error);
                            }
                        }
                    }

                    .add-usage {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        gap: 0.5em;

                        .toggle-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5em;

                            border: 1px solid var(--ca);
                            padding: 0.3em 0.8em;
                            border-radius: 8px;

                            transition: 0.3s ease;

                            &:hover {
                                background-color: var(--ca);
                            }

                            .usage-holder {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                isolation: isolate;

                                min-width: 60px;

                                overflow: hidden;

                                .holder {
                                    transition: 0.3s
                                        cubic-bezier(0.45, 0.02, 0.09, 0.98);
                                    &.blog {
                                        position: absolute;
                                        inset: 0;
                                        width: 100%;
                                        height: 100%;

                                        text-align: center;

                                        transform: translateY(200%);
                                    }
                                }

                                &.active {
                                    .holder {
                                        transform: translateY(-200%);

                                        &.blog {
                                            transform: translateY(0);
                                        }
                                    }
                                }
                            }

                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .input {
                            flex: 1 0 0;
                            height: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            input {
                                width: 100%;
                                height: 100%;
                                border: none;
                                background-color: transparent;
                                color: white;

                                border-bottom: 1px solid white;
                            }
                        }

                        .add-btn {
                            width: 40px;
                            aspect-ratio: 1;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border-radius: 8px;

                            background-color: var(--ca);
                        }
                    }
                }
            }
        }
    }

    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 1rem;
        margin-top: auto;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--thirty-percent);
            color: var(--accent-color);
            border: 2px solid var(--ten-percent);
            border-radius: 100vmax;
            cursor: pointer;
            transition: 0.3s;

            &.disable {
                pointer-events: none;
                opacity: 0.5;
            }

            svg {
                margin: 10px;
            }
        }
    }
}
