* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: 0;
    }
}

body {
    width: 100%;
    height: 100vh;

    > div {
        width: 100%;
        height: 100%;
    }

    color-scheme: dark;
    background-color: #040404;
    color: #f2f2f2;

    --red: #e20338;
    --yellow: #ffc11e;
    --green: #008736;
    --blue: #1771f1;
    --lightblue: #5199ff;

    &::-webkit-scrollbar {
        width: 10px;
        background: #040404;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #171717;
        border: 2px solid #040404;
        border-radius: 20px;
    }
}
