$TITLE_FONTSIZE_HERO: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
$TITLE_FONTSIZE: clamp(1.1rem, 0.7rem + 2.1vw, 1.4rem);
$TITLE_FONTSIZE_SMALL: clamp(0.9rem, 0.5rem + 1.9vw, 1.25rem);
$TITLE_FONTSIZE_SMALLER: clamp(0.8rem, 0.4rem + 1.6vw, 1rem);

$DESCRIPTION_FONT_SIZE: clamp(0.7rem, 0.4rem + 1.4vw, 0.9rem);
$DESCRIPTION_FONT_SIZE_SMALL: clamp(0.6rem, 0.5rem + 1.26vw, 0.9rem);
$DESCRIPTION_FONT_SIZE_SMALLER: clamp(0.3rem, 0.3rem + 1vw, 0.5rem);

$OTHERS_FONT_SIZE_SMALLER: clamp(1.1rem, 0.5rem + 1.5vw, 1rem);

// mobile
$MOBILE_TITLE_FONTSIZE_HERO: 5vw;
$MOBILE_TITLE_FONTSIZE: 4.5vw;
$MOBILE_TITLE_FONTSIZE_SMALL: 4vw;
$MOBILE_TITLE_FONTSIZE_SMALLER: 3.5vw;

$MOBILE_DESCRIPTION_FONT_SIZE: 3.5vw;
$MOBILE_DESCRIPTION_FONT_SIZE_SMALL: 3.5vw;
$MOBILE_DESCRIPTION_FONT_SIZE_SMALLER: 3.5vw;

$MOBILE_OTHERS_FONT_SIZE_SMALLER: clamp(1.1rem, 0.5rem + 1.5vw, 1rem);
