$TITLE_FONTSIZE_HERO: 25px;
$TITLE_FONTSIZE: 20px;
$TITLE_FONTSIZE_SMALL: 18px;
$TITLE_FONTSIZE_SMALLER: 16px;

$DESCRIPTION_FONT_SIZE: 14px;
$DESCRIPTION_FONT_SIZE_SMALL: 12px;
$DESCRIPTION_FONT_SIZE_SMALLER: clamp(0.3rem, 0.3rem + 1vw, 0.5rem);

$OTHERS_FONT_SIZE_SMALLER: clamp(1.1rem, 0.5rem + 1.5vw, 1rem);