input.styled {
    background-color: var(--primary-color);
    border: none;
    border-bottom: 2px solid var(--cg);
    border-radius: var(--radius);
    padding: 0.25rem;
    color: var(--accent-color);

    transition: border-color 0.3s;

    &:focus {
        border-color: var(--ten-percent);
        outline: 0;
    }
}

textarea.styled {
    resize: vertical;
    background-color: var(--cd);
    border: 2px solid var(--cg);
    font-size: 18px;
    border-radius: var(--radius);
    font-family: inherit;
    padding: 0.25rem;
    color: var(--cl);

    &:focus {
        border-color: var(--ca);
        outline: 0;
    }
}
