::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: var(--thirty-percent);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    background-color: var(--primary-color);
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
}
