@mixin dark {
    color-scheme: dark;

    --primary-color: #121212;
    --accent-color: #f2f2f2;

    // alerts
    --alert-shadow: #fff3;
    --alert-error: #e20338;
    --alert-info: #5199ff;
    --alert-success: #00dc7d;

    // 60/30/10 theme
    --sixty-percent: #231f20;
    --thirty-percent: #ad974f;
    --ten-percent: #8e793e;
}

@mixin light {
    color-scheme: light;

    --primary-color: #121212;
    --accent-color: #f2f2f2;

    // alerts
    --alert-shadow: #fff3;
    --alert-error: #e20338;
    --alert-info: #5199ff;
    --alert-success: #00dc7d;

    // 60/30/10 theme
    --sixty-percent: #231f20;
    --thirty-percent: #ad974f;
    --ten-percent: #8e793e;
}
