.admin-container {
    width: 100%;
    height: 100vh;

    display: flex;

    direction: rtl;

    overflow: hidden;

    @media screen and (max-width: 1024px) {
        display: inline-block;
        height: auto;
    }

    aside.sidebar {
        width: clamp(280px, 20%, 300px);

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5vh;

        background-color: white;

        padding: 3vh 0;
        padding-top: 6vh;

        @media screen and (max-width: 1024px) {
            width: 100%;
            min-height: 90vh;
        }

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4vh;

            width: 100%;

            padding-bottom: 40px;

            position: relative;

            .profile-avatar {
                object-fit: cover;
                width: 100px;
                aspect-ratio: 1/1;
                border-radius: 100vmax;

                transform: translateY(-100%);
                opacity: 0;

                animation: img-fadeIn 1s cubic-bezier(0.45, 0.02, 0.09, 0.98)
                    forwards;

                @keyframes img-fadeIn {
                    from {
                        transform: translateY(-100%);
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            .name-avatar {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;

                font-family: cursive;

                padding: 0 10px;

                overflow: hidden;

                span {
                    padding: 0 20px;

                    display: inline-block;
                    transform: translateY(100%);
                    white-space: nowrap;
                    animation: header-fadeIn 1s 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes header-fadeIn {
                        from {
                            transform: translateY(100%);
                        }
                        to {
                            transform: translateY(0);
                        }
                    }
                }

                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;

                    width: 0;
                    height: 1px;
                    background-image: linear-gradient(
                        90deg,
                        rgba(0, 0, 0, 0),
                        black,
                        rgba(0, 0, 0, 0)
                    );
                    animation: width-slideIn 1s 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes width-slideIn {
                        from {
                            width: 0;
                        }
                        to {
                            width: 80%;
                        }
                    }
                }
            }
        }
        .sidebar-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            width: 100%;
            height: 100%;

            font-size: clamp(0.8rem, 0.4rem + 1.8vw, 1.1rem);

            .column-wrapper {
                // reset
                color: unset;
                text-decoration: none;
                //

                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                padding: 1rem 1rem;

                cursor: pointer;

                // translate: 100%;

                transition: all 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);
                // animation: column-slide-in 0.8s
                //     cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                // animation-delay: calc(700ms + 100ms * var(--idx));

                &:hover {
                    transform: translateX(-5%);
                }

                &.goto {
                    color: unset;
                    text-decoration: none;
                }

                // &.active {
                //     color: var(--ten-percent);

                //     svg {
                //         fill: var(--ten-percent);

                //         path {
                //             stroke: var(--ten-percent);
                //         }
                //     }
                // }

                .column {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1vw;

                    .holder-text {
                        transition: transform 0.3s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }
                }

                &.exit {
                    margin-top: auto;

                    color: var(--alert-error);

                    animation-duration: 1s;

                    .column {
                        margin-right: -10px;
                        gap: 1.5vw;

                        @media screen and (max-width: 1024px) {
                            gap: calc(3vw + 5px);
                        }
                    }
                }

                &:hover:not(.exit) {
                    .column .holder-text {
                        transform: translateX(-10%);
                    }
                }

                // @keyframes column-slide-in {
                //     from {
                //         translate: 100%;
                //     }
                //     to {
                //         translate: 0;
                //     }
                // }
            }
        }
    }

    aside.wrapper {
        flex: 1 0;
        height: 100vh;

        background-color: var(--sixty-percent);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        overflow-y: auto;
        overflow-x: hidden;

        direction: ltr;
        position: relative;
        isolation: isolate;

        section {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: flex-start;

            width: 100%;
            // height: auto;

            padding: 5vh 3vw;

            direction: ltr;
        }
    }
}
