section.projects {
    gap: 8vh;

    .projects-header {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        width: 100%;

        gap: 50px;

        @media screen and (max-width: 1024px) {
            gap: 25px;
        }

        .search {
            display: flex;
            width: 80%;

            background-color: white;

            padding: 0.5em 1.5em;
            border-radius: 10px;

            // position: relative;
            // isolation: isolate;

            @media screen and (max-width: 1024px) {
                width: 65%;
            }

            .search-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #040404;
                background: transparent;
                height: 100%;

                svg {
                    // position: absolute;
                    // top: 50%;
                    // left: 0;
                    height: 70%;
                    max-height: 40px;
                    // transform: translate(50%, -50%);
                }
            }

            input {
                width: 100%;
                height: 100%;

                // reset
                background-color: transparent;
                border: none;
                color: black;
                // reset end

                direction: rtl;
            }
        }
        .new-project {
            flex: 1 0 0;
            border-radius: 10px;

            background-color: orange;

            padding: 1em 1.5em;
        }
    }
    .projects-wrapper {
        // display: grid;
        // grid-column-gap: calc(5vw + 10px);
        // grid-row-gap: 4vh;
        // direction: rtl;
        // grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
        // justify-items: center;

        display: flex;
        flex-wrap: wrap;
        direction: rtl;
        gap: 1rem;
        justify-content: center;

        padding: 0.5rem;
        width: 100%;

        overflow-y: auto;

        .project {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            width: clamp(0px, 100%, 350px);
            aspect-ratio: 1/1.5;

            background-color: white;
            border-radius: 10px;
            padding: 0.5rem;

            position: relative;
            isolation: isolate;
            overflow: hidden;

            .project-img {
                width: 100%;
                height: 35%;
                border-radius: 5px;
            }
            .datas {
                width: 100%;
                padding: 1rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vh;

                .data-wrapper {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .holder {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                    .data {
                        font-family: 'iranBold';
                    }
                }
            }
            .btns {
                display: flex;
                align-items: center;
                justify-content: space-between;

                gap: 10px;

                width: 100%;

                .edit,
                .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.7rem;

                    &:hover {
                        svg {
                            animation: shake-svg 0.7s ease-in-out;
                            @keyframes shake-svg {
                                0% {
                                    rotate: 0deg;
                                }
                                20% {
                                    rotate: 6deg;
                                }
                                40% {
                                    rotate: -6deg;
                                }
                                60% {
                                    rotate: 4deg;
                                }
                                80% {
                                    rotate: -4deg;
                                }
                                100% {
                                    rotate: 0deg;
                                }
                            }
                        }
                    }
                }

                .edit {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    flex-shrink: 0;

                    width: 50%;

                    padding: 0.75rem;

                    background-color: rgb(255, 152, 0);
                    border-radius: 5px;
                }
                .delete {
                    width: 50%;

                    padding: 0.75rem;

                    width: 100%;
                    background-color: var(--alert-error);
                    border-radius: 5px;
                    color: white;
                }
            }
        }
    }
}
