.simurgh--blog-fnd {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 7vh 0;

    @media screen and (max-width: 1024px) {
        padding: 7vh 1rem;
    }
    @media screen and (max-width: 1024px) {
        padding: 7vh 5vw;
    }

    img.simurgh--blog-thumbnail {
        width: 100%;
        max-height: 350px;

        border-radius: 16px;
        object-fit: cover;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 100%;

        font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
        font-family: 'iranBold';

        white-space: nowrap;

        margin-bottom: 2em;

        opacity: 0;
        transform: translateY(100%);

        animation: welcomer-companyname-fadein 1s 1s ease-in-out forwards;

        @keyframes welcomer-companyname-fadein {
            from {
                transform: translateY(100%);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &::before,
        &::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: black;

            animation: width-open 2s 1.5s cubic-bezier(0.45, 0.02, 0.09, 0.98)
                forwards;

            @keyframes width-open {
                from {
                    width: 0px;
                }
                to {
                    width: 100%;
                }
            }
        }
        span {
            padding: 0 1em;
            white-space: nowrap;
        }
    }

    .simurgh--blog-options {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 1em;
        row-gap: 1.5em;
        width: 100%;
        margin: 3em 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .simurgh--blog-option {
            display: flex;
            align-items: center;
            gap: 0.5em;

            font-size: clamp(0.8rem, 0.4rem + 1.6vw, 1rem);
            font-family: 'yekan';

            > div {
                display: flex;
                align-items: center;
                gap: 0.5em;

                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .simurgh--blog-preview {
        width: 100%;

        h1 {
            font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
            font-family: 'iranBold';
        }
        h2 {
            font-size: clamp(1.5rem, 2.8vw + 1.2rem, 2.7rem);
            font-family: 'iranBold';
        }
        h3 {
            font-size: clamp(1.4rem, 2.7vw + 1.1rem, 2.6rem);
            font-family: 'iranSans';
        }
        h4 {
            font-size: clamp(1.3rem, 2.6vw + 1rem, 2.5rem);
            font-family: 'yekanBold';
        }
        h5 {
            font-size: clamp(1.2rem, 2.5vw + 0.9rem, 2.4rem);
            font-family: 'yekanBold';
        }
        h6 {
            font-size: clamp(1.1rem, 2.4vw + 0.8rem, 2.3rem);
            font-family: 'yekan';
        }

        p {
            font-family: 'yekan';

            span {
                line-height: 1.8em;
            }
        }

        img {
            max-width: 100%;
            max-height: 500px;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 1rem;
        }

        video {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: clamp(0px, 100%, 500px);
            max-height: 300px;
            background-color: transparent;
            border-radius: 1rem;
        }

        iframe {
            width: clamp(0px, 100%, 500px);
            aspect-ratio: 1;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 1rem;
        }

        audio {
            filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
        }
    }
}

.related-blogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    h3 {
        font-family: var(--simurgh--font-title);
        font-size: var(--simurgh--size-title-title);

        margin-bottom: 2em;
        margin-top: 4em;
    }

    .related-wrapper {
        width: 100%;

        display: flex;
        align-items: center;

        gap: calc(3vw + 5px);

        overflow-x: auto;

        padding: 4rem 2rem;

        figure {
            flex-shrink: 0;

            width: clamp(0px, 100%, 400px);
            aspect-ratio: 0.8/1;

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            border-radius: 10px;
            box-shadow: 0px 5px 20px -10px black;

            img {
                aspect-ratio: 16 / 8;
                width: 90%;

                flex: 0.2;

                object-fit: contain;
                background: white;

                transform: translateY(-25%);

                border-radius: 5px;
                box-shadow: 0px 5px 20px -10px black;
            }

            p {
                font-family: var(--simurgh--font-title);
                margin-top: -2em;
            }

            > div {
                width: 90%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                flex-wrap: wrap;

                .detail-container {
                    padding: 1em;
                    display: flex;
                    align-items: center;
                    gap: 1.2em;

                    font-family: var(--simurgh--font-title);

                    position: relative;
                    isolation: isolate;

                    transition: 0.5s ease;

                    @media screen and (max-width: 768px) {
                        color: white;
                    }
                    svg {
                        fill: white;
                    }
                    &::before {
                        content: '';

                        position: absolute;
                        right: 4px;
                        height: 40px;
                        width: 40px;

                        border-radius: 100vmax;

                        background-color: var(--ten-percent);

                        z-index: -1;

                        transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                        @media screen and (max-width: 768px) {
                            width: 100%;
                            height: 30px;
                        }
                    }

                    &:hover {
                        color: white;
                        &::before {
                            width: 100%;
                        }
                    }

                    &:nth-child(2) {
                        font-family: var(--simurgh--font-number);

                        &:before {
                            right: unset;
                            left: 4px;
                        }
                    }

                    span {
                        font-size: var(
                            --simurgh--size-title-title-description-small
                        );
                    }
                }
            }

            // TODO: update this after updating the html in ssr
            /* .details {
                width: 90%;
    
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                flex-wrap: wrap;
    
                .detail {
                    padding: 1em;
                    display: flex;
                    align-items: center;
                    gap: 1.5em;
    
                    position: relative;
                    isolation: isolate;
    
                    transition: 0.5s ease;
    
                    @media screen and (max-width: 768px) {
                        color: white;
                    }
                    svg {
                        color: white;
                    }
                    &::before {
                        content: '';
    
                        position: absolute;
                        right: 4px;
                        height: 40px;
                        width: 40px;
    
                        border-radius: 100vmax;
    
                        background-color: var(--ten-percent);
    
                        z-index: -1;
    
                        transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);
    
                        @media screen and (max-width: 768px) {
                            width: 100%;
                            height: 30px;
                        }
                    }
    
                    &:hover {
                        color: white;
                        &::before {
                            width: 100%;
                        }
                    }
    
                    &.publish {
                        &:before {
                            right: unset;
                            left: 4px;
                        }
                    }
                } 
            } */

            figcaption {
                text-align: center;
                width: 90%;

                font-size: var(--simurgh--size-title-title-description);
                font-family: var(--simurgh--font-description);

                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.8em;
                overflow: hidden;
            }

            a {
                border-radius: 5px;
                border: none;

                text-align: center;
                color: var(--primary-color);

                font-family: var(--simurgh--font-link);

                padding: 1rem 2rem;
                width: 90%;
                margin: 1rem 0;

                background: var(--sixty-percent);
            }
        }
    }
}
