section.simurgh--blogs {
    width: 100%;
    padding: 5vh 3vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: calc(10vh + 10px);
    column-gap: calc(3vw + 5px);

    article {
        width: clamp(0px, 100%, 400px);
        aspect-ratio: 0.8/1;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        border-radius: 10px;
        box-shadow: 0px 5px 20px -10px black;

        img {
            aspect-ratio: 16 / 8;
            width: 90%;

            flex: 0.2;

            object-fit: contain;
            background: white;

            transform: translateY(-25%);

            border-radius: 5px;
            box-shadow: 0px 5px 20px -10px black;
        }

        h2 {
            font-family: var(--simurgh--font-title);
            font-size: var(--simurgh--size-title-title);
            margin-top: -2em;

            text-align: center;
            padding: 1em;
        }

        > div {
            width: 90%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            flex-wrap: wrap;

            .detail-container {
                padding: 1em;
                display: flex;
                align-items: center;
                gap: 1.2em;

                font-family: var(--simurgh--font-title);

                position: relative;
                isolation: isolate;

                transition: 0.5s ease;

                @media screen and (max-width: 768px) {
                    color: white;
                }

                svg {
                    fill: white;
                }

                &::before {
                    content: '';

                    position: absolute;
                    right: 4px;
                    height: 40px;
                    width: 40px;

                    border-radius: 100vmax;

                    background-color: var(--ten-percent);

                    z-index: -1;

                    transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        height: 30px;
                    }
                }

                &:hover {
                    color: white;

                    &::before {
                        width: 100%;
                    }
                }

                &:nth-child(2) {
                    font-family: var(--simurgh--font-number);

                    &:before {
                        right: unset;
                        left: 4px;
                    }
                }

                span {
                    font-size: var(
                        --simurgh--size-title-title-description-small
                    );
                }
            }
        }

        // TODO: update this after updating the html in ssr
        /* .details {
            width: 90%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            flex-wrap: wrap;

            .detail {
                padding: 1em;
                display: flex;
                align-items: center;
                gap: 1.5em;

                position: relative;
                isolation: isolate;

                transition: 0.5s ease;

                @media screen and (max-width: 768px) {
                    color: white;
                }
                svg {
                    color: white;
                }
                &::before {
                    content: '';

                    position: absolute;
                    right: 4px;
                    height: 40px;
                    width: 40px;

                    border-radius: 100vmax;

                    background-color: var(--ten-percent);

                    z-index: -1;

                    transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        height: 30px;
                    }
                }

                &:hover {
                    color: white;
                    &::before {
                        width: 100%;
                    }
                }

                &.publish {
                    &:before {
                        right: unset;
                        left: 4px;
                    }
                }
            } 
        } */

        p {
            text-align: center;
            width: 90%;

            font-size: var(--simurgh--size-title-title-description);
            font-family: var(--simurgh--font-description);

            display: -webkit-box;
            --webkit-line-clamp: 3;
            --webkit-box-orient: vertical;
            line-height: 1.8em;
            overflow: hidden;
        }

        a {
            border-radius: 5px;
            border: none;

            text-align: center;
            color: var(--primary-color);

            font-family: var(--simurgh--font-link);

            padding: 1rem 2rem;
            width: 90%;
            margin: 1rem 0;

            background: var(--sixty-percent);
        }
    }
}

section.simurgh--pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    .jumps {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
    }

    a {
        width: 50px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.9em;
        border-radius: 100vmax;
        background: white;
        color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        overflow: hidden;

        &.active {
            background: var(--sixty-percent);
            color: white;
            pointer-events: none;
        }

        &.ends {
            background: var(--sixty-percent);
            color: white;
        }
    }
}
