.cmp-confact {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border: 2px solid var(--ten-percent);
    background-color: var(--thirty-percent);
    border-radius: var(--radius);

    padding: 0.25rem;

    cursor: pointer;

    isolation: isolate;
    position: relative;

    transition: 220ms ease-in-out;
    transition-property: border-color, background-color, color;

    overflow: hidden;

    svg {
        width: 25px;
        height: 25px;
    }

    &:disabled {
        pointer-events: none;
    }

    &:hover {
        color: var(--color);
    }

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--color);
    }

    &:active {
        background-color: transparent;
        color: var(--white);

        &::before {
            transition: height var(--tsd, 1s) linear;
            height: 100%;
        }
    }

    &.stage2 {
        &::before {
            height: 100%;
        }

        &:hover {
            color: var(--white);
        }
    }
}
