.cmp-editable {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;

    padding: 1em;

    &-icon {
        position: absolute;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        backdrop-filter: blur(2px);
        background-color: #0003;
        box-shadow: inset 0 0 20px 40px #0007;
        opacity: 0;
        transition: opacity 200ms ease-in-out;

        color: white;

        svg {
            max-width: 25px;
        }
    }

    &:hover &-icon {
        opacity: 1;
    }
}
